*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: #e6e6e6;
}

nav{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;

}
.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}
.lado-esquerdo{
    width: 60%;
    display: flex;
    justify-content: center;
}
.lado-direito{    
    width: 40%;
}

.bloco{
    background-color: #fff;   
    border: 1px solid #ddd; /* Borda do card */
    margin: 10px;
    padding: 20px; /* Espaçamento interno */
    width: 300px; /* Largura do card */
    text-align: center; /* Centraliza o texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.user-photo {
    width: 100px; /* Largura da foto */
    height: 100px; /* Altura da foto */
    border-radius: 50%; /* Foto redonda */
    object-fit: cover; /* Ajusta a foto sem distorcer */
    margin-bottom: 15px; /* Espaço abaixo da foto */
}

/* Estilo para o botão */
button {
    background-color: #007bff; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

button:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}