<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style2.css">
    <title>Bem Vindo a ATOM</title>
</head>
<body>
    <header>
        <!--CABEÇALHO-->
        <ul class="header-style">
        <li>
            <div class="header-style-logo">
                <p>Atom</p>
                <img src="img/Atom-icon.png" alt="Logo ATOM" class="icon-atom">
            </div>
        </li>
        <li class="topic"><a href="main.html">Início</a></li>
        <li class="topic"><a href="project.html">Projeto</a></li>
        <li class="topic"><a href="about.html">Sobre</a></li>
        </ul>
    </header>
    <main>
        <ul class="ul-style">
        <li><h1><span style="color: white;">ATOM</span></h1></li>
        <li><p>A Atom surgiu como um projeto acadêmico a fim de ajudar
             estudantes, pesquisadores, professores e empresas a se conectarem de forma interativa e dinâmica, com o seu próprio repositório.
             Obrigado por utilizar a Atom!</p></li>
        </ul>
    </main>
    <footer>
        <section class="icons">
            <ul>
                <li>
                    <div>
                        <img src="img/do-utilizador-suport.png" alt="">
                        <p>Equipe de suporte</p>
                        <p>(12) 1234-1234</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="img/internet-suport.png" alt="">
                        <p>Redes sociais</p>
                        <p>@atomhub</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="img/o-email-suport.png" alt="">
                        <p>E-mail para contato</p>
                        <p>atomsupport@gmail.com</p>
                    </div>
                </li>
            </ul>
        </section>
        <section class="suport">
            <h1>Suporte</h1>
            <p>A Atom possui suporte diário, caso surja alguma dúvida ou problema entre em contato.</p>
        </section>
    </footer>
        
    </body>
    </html>