<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <nav>





        
        <ul class="sidebar">
            <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="26px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Forum</a></li>
            <li><a href="">Login</a></li>
        </ul>
        <ul>
            <li><a class="atom" href="">Atom<img src="../view/img/logo3.png" alt=""></a></li>
            <li class="hideOnMobile"><a class="topic" href="../view/home.html">Home</a></li>
            <li class="hideOnMobile"><a class="topic" href="../view/about.html">Sobre</a></li>
            <li class="hideOnMobile"><a class="topic" href="../view/project.html">Projeto</a></li>
            <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="26px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        </ul>
    </nav>
    
    <div class="tela">
        <div class="lado-esquerdo">
            <div class="lista">
                <div class="bloco">
                    <div class="linha"><input class="pesquisar" type="text" placeholder="Procure por artigos, assuntos, pessoas, etc.">
                <div class="lp"><img src="/view/img/lupa.png" alt=""></div></div>
            </div>
            </div>
        </div>
        <div class="lado-direito">
            <div class="lista">
                <div class="bloco">
                    <div class="bloco-mid">
                        <div class="cabecalho-postagem">                              
                            <div class="conteudo-postagem">
                                <a>Interessado em publicar seu projeto? Faça sua postagem!</a>
                            </div>
                            <div class="butao">
                                <button class="publicar">PUBLICAR</button>                            
                            </div> 
                        </div>      
                    </div>
                    <div class="upload-mid">
                        <input type="file" id="file-upload" class="none">

                    </div>
                    
                </div>
                
                <div class="bloco">
                    <div class="bloco-top">
                        <p>Relacionado a <strong>Geografia</strong></p>
                    </div>
                    <div class="bloco-mid">
                            <div class="cabecalho">
                                <div class="foto user">
                                    <img src="../view/img/kayky.png" alt="img teste" class="user-photo">
                                </div>
                                <div class="profile">
                                    <div class="nome">Kayky Paiva</div>                        
                                    <p>Publicou um <a>artigo</a></p>
                                </div>
                            </div>
                            <div class="conteudo">
                                <a>Mudanças Climáticas e Impactos na Agricultura: Um Estudo de Caso em Xique Xique, Bahia.</a>
                                <br><br>
                                <span>Agosto 2024 &#8226; 23 leituras</span>
                            </div>
                    </div>                    
                    <div class="bloco-bot">
                        <div class="rodape">
                            <div class="rod">
                            <button class="relevante"><span class="material-symbols-outlined">shift</span>Relevante</button>
                            <button class="botoes">Salvar</button>        
                            </div>
                            <div class="ape">
                                <button class="botoes">Compartilhar</button>
                            </div>
                           
                        </div>
                    </div>                      
                </div>
            </div>
        </div>        
    </div>

    <script>
        function showSidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'flex'
        }
        function hideSidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'none'
        }
    </script>
    
</body>
</html>