<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style4.css">  
    <title>Document</title>    
</head>
<body>
    <div class="corpo">
       <div class="tela1">
        <div class="logo"><label>Atom</label><img src="/view/img/Atom-icon.png" alt=""></div>
        <div class="image">
            <img src="../view/img/mocas.png" alt="">
        </div>
       </div>
    <div class="tela2">
        <div class="login-cadastro">
            <form action="" class="login">
                <h2 class="title">LOGIN</h2>
                <div class="caixa-texto">
                    <div class="simbolo"><img src="../view/img/user.png" alt=""></div>
                    <input type="text" placeholder="Digite seu e-mail...">
                </div>
                <div class="caixa-texto">
                    <div class="simbolo"><img src="../view/img/lock-cinza.png" alt=""></div>
                    <input type="password" placeholder="Digite sua senha...">
                </div>
                <div class="esquecer">
                <label class="subtexto"for="">Esqueceu sua senha?</label>
               </div>
                <div class="bloco-botao">
                    <div class="botao-justify">
                        <input type="submit" value="Entrar" class="btn" id="sign-in-btn">
                        <div class="esquecer">
                         <label for="" class="subtexto1">Não tem uma conta? <a href="cadastro-real.html"><strong>Cadastrar-se</strong></a></label>
                        </div>
                    </div>
                </div>
            </form>
           
        </div>
    </div>
</div>
    
</body>
</html>

