<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Bem Vindo a ATOM</title>
</head>
<body>
    <header>
        <!--CABEÇALHO-->
        <ul class="header-style">
        <li>
            <div class="header-style-logo">
                <p>Atom</p>
                <img src="img/Atom-icon.png" alt="Logo ATOM" class="icon-atom">
            </div>
        </li>
        <li class="topic"><a href="main.html">Início</a></li>
        <li class="topic"><a href="project.html">Projeto</a></li>
        <li class="topic"><a href="about.html">Sobre</a></li>
        </ul>
    </header>
    <!--Conteúdo Principal do Site-->
    <main>
        <section>
            <h1>O seu <span style="color: #a800c4;">projeto</span> </h1>
            <h1 class="atom-text">na <span style="color: white;">ATOM</span></h1>
            <a href="login-real.html"><button class="button-start-now">Comece Agora</button></a>
        </section>
    </main>
</body>
</html>