<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style1.css">
    <title>Bem Vindo a ATOM</title>
</head>
<body>
    <header>
        <!--CABEÇALHO-->
        <ul class="header-style">
        <li>
            <div class="header-style-logo">
                <p>Atom</p>
                <img src="img/Atom-icon.png" alt="Logo ATOM" class="icon-atom">
            </div>
        </li>
        <li class="topic"><a href="index.html">Início</a></li>
        <li class="topic"><a href="project.html">Projeto</a></li>
        <li class="topic"><a href="about.html">Sobre</a></li>
        </ul>
    </header>
    <!--Conteúdo Principal do Site-->
    <main>
        <ul class="body-style">
        <li>
            <div class="box">
                <div class="box-icon">
                    <img src="img/repository-icon.png" alt="">
                </div>
                <h1>Repositório</h1>
                <p>serviço de armazenamento de trabalhos, podendo organizar e documentar todos os seus projetos.
                </p>
            </div>
        </li>
        <li>
            <div class="box">
                <div class="box-icon">
                    <img src="img/community-icon.png" alt="">
                </div>
                <h1>Comunidade</h1>
                <p>Comunidade geral, podendo debater sobre ideias, solicitar ajuda e expor seus projetos e navegar sobre diversos assuntos.
                </p>
            </div>
        </li>
        <li>
            <div class="box">
                <div class="box-icon">
                    <img src="img/envelope-icon.png" alt="">
                </div>
                <h1>Chat</h1>
                <p>Serviço de chat pessoal, para que seja possível uma conversa direta, privada e segura entre usuários.
                </p>
            </div>
        </li>
        </ul>
    </main>
    </body>
    </html>